/*Resposive*/
@media (max-width: 767px) {
	.nf{
		margin:10px 0px !important;
	}
}
@media (min-width: 768px) and (max-width: 979px){
	.login .control-label{
		width:100px !important;
	}
	.login .controls{
		margin-left:120px !important;
	}
}
/*My Style*/
.carousel-inner .item img{
	width:100%;
	height:350px !important;
}
#myCarousel{
	border-radius:3px;
	overflow:hidden;
	box-shadow:0px 5px 8px -8px #000;
}
#header{
	padding-top:20px;
}
#content{
	padding:20px 0px;
}
#footer{
	padding:20px 0px;
	box-shadow:inset 0px 5px 8px -8px #000;
	background:#f9f9f9;
	text-align:center;
}
#footer ul{
	list-style:none;
}
#footer ul li{
	display:inline;
}
.list-lowongan .logo{
	height:50px;
}
textarea{
	min-height:80px;
}
/*Helper*/
.login .nf{
	margin:10px 0px !important;
}
.nf{
	display:inline-block;
	padding:3px 10px;
	margin:0px;
}
dd *{
	margin:0px;
}
.logo{
	height:50px;
}